@charset "UTF-8";
@font-face {
  font-family: "GothaProReg";
  font-display: swap;
  src: url("/static/fonts/GothaProReg.eot");
  src: local("☺"), url("/static/fonts/GothaProReg.woff2") format("woff2"), url("/static/fonts/GothaProReg.woff") format("woff"), url("/static/fonts/GothaProReg.ttf") format("truetype"), url("/static/fonts/GothaProReg.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothaProBla";
  font-display: swap;
  src: url("/static/fonts/GothaProBla.eot");
  src: local("☺"), url("/static/fonts/GothaProBla.woff2") format("woff2"), url("/static/fonts/GothaProBla.woff") format("woff"), url("/static/fonts/GothaProBla.ttf") format("truetype"), url("/static/fonts/GothaProBla.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "GothaProLig";
  font-display: swap;
  src: url("/static/fonts/GothaProLig.eot");
  src: local("☺"), url("/static/fonts/GothaProLig.woff2") format("woff2"), url("/static/fonts/GothaProLig.woff") format("woff"), url("/static/fonts/GothaProLig.ttf") format("truetype"), url("/static/fonts/GothaProLig.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "CenturyGothic-Bold";
  font-display: swap;
  src: url("/static/fonts/CenturyGothic-Bold.eot");
  src: local("☺"), url("/static/fonts/CenturyGothic-Bold.woff2") format("woff2"), url("/static/fonts/CenturyGothic-Bold.woff") format("woff"), url("/static/fonts/CenturyGothic-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.opt-body {
  background-color: #fff;
  font-family: "GothaProReg", Arial, sans-serif;
  font-size: 14px;
  line-height: normal;
  color: #000000;
  padding: 0;
  margin: 0;
  /*Section-hero*/
  /*Section-send*/
  /*zvonok-modal*/
  /*section-information*/
  /*footer*/
  /*modal*/
  /*mobile*/
}
.opt-body * {
  box-sizing: border-box;
}
.opt-body a {
  text-decoration: none;
}
.opt-body ul,
.opt-body ol {
  list-style: none;
}
.opt-body .text-center-container {
  margin: 0 auto;
  max-width: 1150px;
  width: 100%;
}
.opt-body input,
.opt-body textarea {
  font-size: 16px;
  line-height: 18px;
  padding: 16px 20px;
  border: 1px solid #cbc9c9;
}
.opt-body input:-webkit-input-placeholder,
.opt-body textarea:-webkit-input-placeholder {
  color: var(--black-color);
}
.opt-body input::-moz-placeholder,
.opt-body textarea::-moz-placeholder {
  color: var(--black-color);
}
.opt-body input:-moz-placeholder,
.opt-body textarea:-moz-placeholder {
  color: var(--black-color);
}
.opt-body input:-ms-input-placeholder,
.opt-body textarea:-ms-input-placeholder {
  color: var(--black-color);
}
.opt-body h1,
.opt-body h2 {
  font-weight: 700;
  font-family: "CenturyGothic-Bold";
  margin-top: 0;
}
.opt-body .content-container {
  width: 100%;
  max-width: 1170px;
  height: auto;
  margin: 0 auto;
}
@media (max-width: 1279px) {
  .opt-body .content-container {
    max-width: 950px;
  }
}
@media (max-width: 979px) {
  .opt-body .content-container {
    max-width: 750px;
  }
}
@media (max-width: 767px) {
  .opt-body .content-container {
    width: 96%;
  }
}
@media (max-width: 479px) {
  .opt-body .content-container {
    min-width: 300px;
  }
}
.opt-body .columns {
  display: inline-block;
  float: none;
  width: 100%;
}
.opt-body .main-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 55px;
  padding: 15px 24px;
  width: auto;
  height: 55px;
  border-radius: 3px;
  box-shadow: 3px 5px 9px 0 rgba(0, 0, 0, 0.3);
  text-decoration: none;
  text-shadow: none;
  border: none;
  font-family: "CenturyGothic-Bold";
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  background: #ffc600;
  color: #1d2126;
  cursor: pointer;
  transition: 0.4s all;
}
.opt-body .main-btn:hover {
  background: #e7aa00;
  color: #ffffff;
}
.opt-body .title {
  margin: 0 0 30px;
  font-size: 44px;
  line-height: 1.3;
  font-weight: bold;
  padding: 0 15px;
  text-transform: uppercase;
  font-family: "CenturyGothic-Bold", Arial, sans-serif;
}
.opt-body .header {
  padding: 45px 0 20px;
  background: #ffffff;
}
@media (max-width: 1199px) {
  .opt-body .header {
    height: auto;
  }
}
@media (max-width: 991px) {
  .opt-body .header {
    padding: 18px 0 0;
  }
}
.opt-body .header__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .opt-body .header__content {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
}
.opt-body .logo {
  display: flex;
  align-items: center;
}
@media (max-width: 1549px) {
  .opt-body .logo {
    flex-direction: row;
  }
}
.opt-body .logo p {
  font-family: "GothaProLig", Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: #949697;
  padding: 4px 0;
  margin-bottom: 0;
  margin-left: 25px;
  margin-top: 0;
}
@media (max-width: 767px) {
  .opt-body .logo p {
    margin-left: 18px;
  }
}
.opt-body .logo img {
  max-width: 100px;
}
.opt-body .phone-block .phone {
  font-family: "CenturyGothic-Bold", Arial, sans-serif;
  font-size: 28px;
  line-height: 30px;
  color: #000000;
  transition: 0.3s all;
}
.opt-body .phone-block .phone:hover {
  color: #e7aa00;
}
@media (max-width: 767px) {
  .opt-body #breadcrumbs-wrap {
    display: flex;
    justify-content: center;
  }
}
.opt-body .breadcrumbs {
  display: flex;
  font-family: inherit;
  font-size: 14px;
  line-height: 14px;
  color: #949697;
  padding-left: 0;
}
.opt-body .breadcrumbs li:not(:first-child) {
  padding-left: 8px;
}
.opt-body .breadcrumbs li a {
  color: #949697;
  padding-right: 5px;
  transition: 0.3s all;
}
.opt-body .breadcrumbs li a:hover {
  color: #e7aa00;
}
.opt-body .section-hero {
  padding-top: 70px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .opt-body .section-hero {
    padding-bottom: 55px;
    padding-top: 32px;
  }
}
.opt-body .section-hero__heading {
  font-size: 65px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 70px 0;
}
@media (max-width: 767px) {
  .opt-body .section-hero__heading {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
.opt-body .section-hero__description:not(:last-child) {
  line-height: 22px;
  margin-bottom: 20px;
}
.opt-body .section-hero__list {
  margin-bottom: 20px;
  margin-top: 0;
  padding-left: 20px;
}
.opt-body .section-hero__item:not(:last-child) {
  margin-bottom: 7px;
}
.opt-body .section-hero__item {
  position: relative;
  padding-left: 28px;
}
.opt-body .section-hero__item::before {
  content: "";
  background-image: url("/static/opt/icon-tick.png");
  width: 16px;
  height: 16px;
  display: block;
  position: absolute;
  left: 0;
  top: 0px;
}
.opt-body .section-send {
  background: #f2f2f2;
}
.opt-body .section-send__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vw;
}
@media (max-width: 767px) {
  .opt-body .section-send__container {
    flex-direction: column;
    gap: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    background: none;
  }
}
.opt-body .section-send__container-img {
  width: 100%;
  max-width: 416px;
}
@media (max-width: 767px) {
  .opt-body .section-send__container-img {
    max-width: 350px;
  }
}
.opt-body .section-send__container-img img {
  width: 100%;
  object-fit: cover;
}
.opt-body .section-send__container-form {
  max-width: 320px;
  width: 100%;
}
@media (max-width: 767px) {
  .opt-body .section-send__container-form {
    margin: 0 auto;
  }
}
.opt-body .section-send__form-input {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
}
.opt-body .section-send__form-textarea {
  width: 100%;
  height: 100px;
}
.opt-body .section-send__form-button {
  width: 100%;
  padding: 10px;
  height: 60px;
  min-height: 60px;
  margin-top: 20px;
  font-size: 20px;
  line-height: normal;
  cursor: pointer;
}
.opt-body .order-section {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
}
.opt-body #zvonok-modal {
  display: block;
  max-width: 100%;
  width: 100%;
  padding: 45px 0;
  background-image: url("/static/opt/order-opt-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.opt-body #zvonok-modal .content-container {
  max-width: 980px;
}
@media (max-width: 980px) {
  .opt-body #zvonok-modal .content-container {
    max-width: 760px;
  }
}
@media (max-width: 767px) {
  .opt-body #zvonok-modal .content-container {
    max-width: 96%;
  }
}
@media (max-width: 479px) {
  .opt-body #zvonok-modal .content-container {
    min-width: 300px;
  }
}
.opt-body #zvonok-modal .zvonok-modal__wrap {
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  border-radius: 6px;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
.opt-body #zvonok-modal p.modal-title {
  display: inline-block;
  width: 100%;
  font-family: "GothaProBla", Arial, sans-serif;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 50px auto 10px;
  text-align: center;
  letter-spacing: -1px;
  font-weight: 300;
  text-shadow: 0 0 1px #ffffff;
}
@media (max-width: 980px) {
  .opt-body #zvonok-modal p.modal-title {
    margin: 30px auto 10px;
  }
}
@media (max-width: 767px) {
  .opt-body #zvonok-modal p.modal-title {
    margin: 15px 0;
  }
}
@media (max-width: 479px) {
  .opt-body #zvonok-modal p.modal-title {
    margin: 15px 0;
    line-height: 24px;
    font-size: 20px;
  }
}
.opt-body #zvonok-modal #call-modal {
  max-width: 520px;
  width: 100%;
  height: auto;
  display: block;
  margin: 45px auto 0;
}
@media (max-width: 479px) {
  .opt-body #zvonok-modal #call-modal {
    margin: 0 auto;
  }
}
.opt-body #zvonok-modal #call-modal input[type=text] {
  width: 84%;
  height: 50px;
  font-family: "GothaProReg", Arial, sans-serif;
  font-size: 18px;
  line-height: 50px;
  color: #000000;
  margin: 10px auto;
  padding: 0 5%;
  display: block;
  border: 1px solid #cbc9c9;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@media (max-width: 479px) {
  .opt-body #zvonok-modal #call-modal input[type=text] {
    width: 100%;
  }
}
.opt-body #zvonok-modal #call-modal .button {
  width: 85%;
  margin: 0 auto 20px;
}
@media (max-width: 479px) {
  .opt-body #zvonok-modal #call-modal .button {
    width: 100%;
  }
}
.opt-body #zvonok-modal #call-modal p {
  text-align: center;
  margin: 0 auto 30px;
}
.opt-body .section-information {
  padding-top: 120px;
  padding-bottom: 120px;
}
@media (max-width: 767px) {
  .opt-body .section-information {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.opt-body .section-information__heading {
  font-size: 48px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .opt-body .section-information__heading {
    font-size: 26px;
    margin-bottom: 30px;
  }
}
.opt-body .section-information__description a {
  color: #000;
  text-decoration: underline;
  transition: 0.3s;
}
.opt-body .section-information__description a:hover {
  color: #e7aa00;
}
.opt-body .section-information__description:not(:last-child) {
  margin-bottom: 20px;
}
.opt-body #order-success {
  display: none;
}
.opt-body #order-success-opt {
  display: none;
}
.opt-body #footer .content-container {
  max-width: 980px;
}
@media (max-width: 980px) {
  .opt-body #footer .content-container {
    max-width: 760px;
  }
}
@media (max-width: 767px) {
  .opt-body #footer .content-container {
    max-width: 96%;
  }
}
@media (max-width: 479px) {
  .opt-body #footer .content-container {
    min-width: 300px;
  }
}
.opt-body #footer {
  display: block;
  position: relative;
  width: 100%;
  height: auto;
  text-align: center;
  background: #ffffff;
}
.opt-body #footer h4,
.opt-body #call-now,
.opt-body #footer #call-free {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 auto 15px;
}
.opt-body .questions {
  width: 100%;
  font-family: "GothaProBla", Arial, sans-serif;
  font-size: 30px;
  line-height: 32px;
  text-transform: uppercase;
  margin: 50px auto 10px;
  text-align: center;
  letter-spacing: -1px;
}
.opt-body .call-now {
  font-size: 18px;
  line-height: 20px;
  font-weight: normal;
  margin: 0 auto 15px;
}
.opt-body .bottom-phone {
  font-size: 36px;
  line-height: 38px;
  margin: 55px auto 10px;
}
.opt-body .bottom-phone a {
  color: #000000;
  outline: medium none;
  text-decoration: none;
  transition: 0.3s all;
}
.opt-body .bottom-phone a:hover {
  color: #e7aa00;
}
.opt-body #footer .button {
  width: 280px;
  margin: 0 auto 30px;
}
.opt-body #copyright {
  display: inline-block;
  width: 100%;
  margin: 30px auto 70px;
  font-family: "GothaProLig", Arail, sans-serif;
  text-transform: uppercase;
  text-align: center;
}
.opt-body #copyright .btn-conteiner {
  margin-top: 20px;
}
.opt-body #copyright a:not(.footer__button) {
  display: block;
  width: 100%;
  color: #619000;
  text-decoration: underline;
  cursor: pointer;
  margin: 0 auto 10px;
}
.opt-body #copyright p {
  display: block;
  width: 100%;
  font-family: inherit;
  font-size: 14px;
  line-height: 16px;
  font-weight: normal;
  color: #cbc9c9;
  margin: 0 0 5px;
  padding: 0;
}
.opt-body #copyright p#copy-info {
  margin-top: 40px;
}
.opt-body .modal__form {
  max-width: 412px;
}
.opt-body .modal-title {
  font-family: "GothaProBla", Arial, sans-serif;
  font-size: 20px;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 20px;
  text-align: center;
}
.opt-body .modal__input {
  width: 100%;
  margin: 10px 0 20px;
}
.opt-body .modal__button {
  width: 100%;
  cursor: pointer;
}
.opt-body #thanks {
  margin-bottom: 20px;
}
.opt-body #success {
  margin-top: -18px;
  display: flex;
}
@media (max-width: 800px) {
  .opt-body .section-questions {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .opt-body .section-questions__form {
    flex-direction: column;
    align-items: center;
  }
  .opt-body .section-questions__form label {
    margin-bottom: 10px;
    max-width: 510px;
    width: 100%;
  }
  .opt-body .section-questions__input {
    max-width: none;
  }
  .opt-body .section-questions__button {
    max-width: 510px;
    margin-top: 25px;
  }
}
@media (max-width: 767px) {
  .opt-body {
    /*header*/
  }
  .opt-body .content-container {
    flex-direction: column;
    justify-content: center;
  }
  .opt-body .breadcrumbs {
    margin-bottom: 0;
    margin-top: 0;
  }
}

/*# sourceMappingURL=opt-style.css.map */
